body{
    background: #E9ECF8;
}

header{
    padding: 20px 0;
}

.logoAlura{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.panelIzquierdo{
    width: 60%;
    height: 60%;
    display: inline-block;
    padding: 20px;
    
}


#textoEncriptado{
    position: inherit;
    left: 240px;
    top: 168px;
    width: 577px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: transparent;
    border: none;
}

#textoEncriptado::placeholder{
    color: #0A3871;
}

.textoMinus{
    position: inherit;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contenedorBotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-top: 1em;
    position: inherit;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#botonEncriptado{
    width: 328px;
    height: 67px;
    font-size: 16px;
    background-color: #0A3871;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#botonDesencriptado{
    width: 328px;
    height: 67px;
    font-size: 16px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    flex: none;
    order: 1;
    flex-grow: 0;
}




.panelDerecho{
    width: 20%;
    display: inline-block;    
    padding-bottom: 3em;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.muneco{
    width: auto;
    height: 304px;
}

#botonCopiar{
    display: none;

}





@media screen and (max-width:480px) {
    header{
        display: inline-block;
        width: 375px;
        height: 96px;
        left: 0px;
        top: 0px;
    }
    body{
        width: auto;
    }

    main{
        display: block;
    }
    .logoAlura{
        position: relative;
        width: auto;
        left: -25px;
        top: 20px;
    }

    .panelIzquierdo, .panelDerecho{
        width: auto;
        display: block;
    }

    #textoEncriptado, .textoMinus{
        width: 100%;
        position: inherit;
    }
    #botonEncriptado, #botonDesencriptado{
        width: auto;
    }

    .contenedorBotones{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
        padding: 0px;
        gap: 24px;
        margin-top: 1em;
    }
    
    .muneco{
        display: none;
    }
   
}